/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

section {
    padding: 60px 10%;
}

h1, h2, h3 {
    margin-bottom: 15px;
}

p{
    margin-bottom: 15px;
}

ul{
    list-style: none;
}

/*Hero section of th ehome page*/

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: #222;
    color: white;
}

header h1 {
    font-size: 3rem;
}

header p{
    font-size: 1.2rem;
}

/* About Section */
#about {
    background-color: white;
}

#about p{
    max-width:700px;
}

/*Skills Section */
#skills {
    background-color: #f9f9f9;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#skills li {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

/* Projects Section */
#projects {
    background-color: white;
}

#projects article {
    background-color: #f4f4f4;
    padding: 25px;
    border-radius: 8px;
    max-width: 500px;
}

/* Contact Section */
#contact {
    background-color: #f9f9f9;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}